div.overlay-tigo-money-woo {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

div.overlay-content-tigo-money-woo {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
div.overlay-content-tigo-money-woo img {
    margin: auto;
}
